.contact {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h3 {
  font-size: 1.3rem;
  color: rgba(72, 183, 141);
  font-weight: 700;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: inherit;
  margin-top: -10px;
}

.address i {
  font-size: 1.3rem;
  text-align: center;
}

.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}

.phone-and-facebook {
  border-top: 1px solid var(--main-color);
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phone-and-facebook span {
  display: block;
  margin: 10px 0;
}

.phone-number {
  display: flex;
  align-items: center;
  padding: 7px;
  background-color: var(--main-color);
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--text-color);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.phone-number > span {
  margin: 5px;
}

.phone-number > * {
  margin: 10px;
  font-weight: bold;
}

.phone-number > img {
  width: 20px;
  height: 20px;
  margin: 0px;
}

.fa-mobile-alt {
  margin-right: 0;
  font-size: 1.3rem;
}

.trading-hours,
.map-container {
  display: grid;
  place-items: center;
  width: 100%;
  margin: 10px 0;
}

.trading-hours h4,
.map-container h4 {
  margin: 10px;
  font-weight: 700;
  font-size: 1.1rem;
}
.trading-hours-table {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.trading-hours-table > * {
  border: solid 2px var(--main-color);
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

.google-map {
  width: 90%;
  border: none;
  border-radius: 20px;
}

/* for the separator image */

.separator-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.service-title {
  font-family: "Rancho";
  font-size: 1.5rem;
  font-weight: 700;
  padding: 5px 10px;
  background-color: var(--main-color);
  color: var(--text-color);
  border-radius: 5px;
  width: fit-content;
  margin-bottom: 0;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
}
