/* Footer section */
.footer {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
}

.logo img {
  object-fit: contain;
}

.address {
  font-size: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.phone-number {
  color: black;
  font-weight: 500;
  font-size: inherit;
}

.phone-number > * {
  margin: 10px;
}

.social-icons {
  margin: 10px;
  color: black;
}

.fa-mobile-alt {
  margin-right: 0;
}
