/* Footer section */
.footer {
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
  color: var(--text-color);
}

.logo img {
  object-fit: contain;
}

.social-icons {
  margin: 10px;
}

.social-media img {
  width: 35px;
  height: 35px;
}
