.outer-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.inner-modal {
  position: relative;
}

.img-full-size {
  object-fit: contain;
  width: 100%;
  min-height: 50vh;
}

.close-button {
  color: white;
  position: absolute;
  right: 5%;
  top: 10%;
  width: 25px;
  height: 25px;
}

.left-arrow-button,
.right-arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}

.left-arrow-button {
  left: 0;
  margin-left: 5px;
}

.right-arrow-button {
  right: 0;
  margin-right: 5px;
}
