* {
  box-sizing: border-box;
  /* font-size: 62.5%; */
}

body {
  height: 100vh;
  margin: 0;
  background-color: white;
  /* background-image: url("./background-photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed; */
}

i {
  font-size: 1.5rem;
}

a,
a:visited {
  text-decoration: none;
}
